html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

p {
  font-size: 1rem;
}

.logo {
  font-family: "IBM Plex Mono", monospace;
  color: #fff;
  font-size: 2rem;
  text-decoration-line: none;
}

.logo:hover {
  color: #ccff00;
}

.logo a {
  text-decoration: none;
}

nav {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 102, 0) 100%);
  font-family: "Bebas Neue", sans-serif;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #ccff00;
}

.btn-primary {
  font-family: "IBM Plex Mono", monospace;
  color: #000;
  background-color: #ccff00;
  border-color: #ccff00;
  border-radius: 2rem;
  border-width: 2px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn:hover {
  border-radius: 2rem;
  border-color: #fff;
  background: #fff;
  color: #000;
}

.nav-link {
  color: #000;
}

.nav-link:hover {
  color: #ccff00;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 100;
  color: #fff;
  background-color: #000;
}

.display {
  font-family: "Bebas Neue", sans-serif;
  font-size: 6rem;
  line-height: 90%;
}

.video-bg {
  max-width: 100%;
  height: auto;
}

.subject {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.container-space {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.display-valori {
  font-family: "Bebas Neue", sans-serif;
  font-size: 5rem;
  line-height: 80%;
}

.splash-space {
  display: flex;
  justify-content: space-around;
}

/* CAROUSEL */
.grandezza-carousel {
  width: 100vw;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.card {
  scroll-snap-align: start;
  min-height: 300px;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MARQUEE */

.marquee-container {
  max-width: 100%;
  overflow-x: hidden;
}

.marquee {
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  color: #000;
}

.marquee__inner {
  background-color: #fff;
  width: max-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 5s linear infinite;
  animation-play-state: paused;
}

.marquee span {
  font-size: 1rem;
  padding: 0 1vw;
  margin-bottom: 0.1rem;
  margin-top: 0.25rem;
}

.marquee .marquee__inner {
  animation-play-state: running;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

.programma {
  width: 100%;
}

.legenda {
  width: 70%;
}

/* FOOTER */
.footer-color {
  background: #fff;
}

.fot {
  font-family: "IBM Plex Mono", monospace;
  color: #000;
}

/* COLOR BG */
.dark {
  background: #000;
}

.light {
  background: #fff;
}

.pink {
  background: #ff5094;
}

.purple {
  background: #9b64ff;
}

/* SM */
@media (max-width: 600px) {
  .medal-carousel img {
    max-width: 16rem;
    margin: auto;
  }
}

/* md */
@media (min-width: 768px) {
  .marquee span {
    font-size: 2rem;
    padding: 0 1vw;
    margin-bottom: 0.1rem;
    margin-top: 0.25rem;
  }

  p {
    font-size: 2rem;
  }

  .legenda {
    width: 50%;
  }

  .programma {
    width: 50%;
  }
}

/* LG */
@media (min-width: 992px) {
  .nav-link {
    color: #fff;
    mix-blend-mode: difference;
  }

  .container-space {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}
