html{
    scroll-behavior: smooth;
  }

  .logo{
    font-family: 'IBM Plex Mono', monospace;
    color: #fff;
    font-size: 2rem;
    text-decoration-line: none;
  }

  .logo:hover{
    color: #CCFF00;
  }

  .logo a{
    text-decoration: none;
  }

  nav{
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 102, 0) 100%);
    font-family: "Bebas Neue", sans-serif;
  }

  .nav-link{
    color: #fff;
  }
  
  .nav-link:hover{
    color: #CCFF00;
  }

  .btn-primary{
    color: #000;
    background-color: #CCFF00;
    border-color: #CCFF00;
    border-radius: 2rem;
    border-width: 2px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .btn:hover{
    border-radius: 2rem;
    border-color: #fff;
    background: #fff;
    color: #000;
  }

  .nav-link{
    color: #000;
  }
  
  .nav-link:hover{
    color: #CCFF00;
  }

  body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 100;
    color: #fff;
    background-color: #000;
  }

  .display{
    font-family: "Bebas Neue", sans-serif;
    font-size: 5rem;
  }

  .video-bg{
    max-width: 100%;
    height: auto;
  }

  .subject{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }

  .container-space{
  padding-top:2rem;
  padding-bottom: 2rem;
  }







  .footer-color{
    background: #fff;
  }

  .fot{
    font-family: 'IBM Plex Mono', monospace;
    color: #000;
  }





/* COLOR BG */
  .dark{
    background-color: #000;
  }
  
  .light{
    background-color: #fff;
  }

  .pink {
    background-color: #FF5094;
  }
  
  .purple{
    background-color: #9B64FF;
  }















  /* SM */
@media(max-width:600px) {
    .medal-carousel img{
      max-width: 16rem;
      margin: auto;
    }
  }
  
  
  /* LG */
  @media(min-width:992px) {
    .nav-link{
      color: #fff;
      mix-blend-mode: difference;
    }
  
    .container-space{
      padding-top:7rem;
      padding-bottom: 7rem;
    }
  }
  